@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
  --bg-color: #131722;
  --main-font:'Montserrat', sans-serif;
  --light-bg: #24baef;
  --bg-transparent: rgba(36, 186,239,0.6);
  --font-color:#fff;
  --second-font-color:#949cb0;
  --border-color:#a8a8a83d;
  --border-height: 1px;
}


body{
  font-family: var(--main-font);
  background-color: var(--bg-color);
  color: var(--font-color);
  box-sizing: border-box;
}
a{
  color: var(--font-color);
  text-decoration: none;
}
.cursor-pointer{
  cursor: pointer;
}
.my-input{
  background-color: transparent !important;
  border: solid 1px var(--border-color);
  color:#fff
}
.my-input::placeholder{
  color: var(--second-font-color);
}
.brdr{
  height: 1px;
  border: solid 1px #949cb0;
}
.vote{
  background-color: var(--light-bg);
}
.my-input:focus{
  border: solid 1px var(--border-color);
}
.offline-status{
  position: fixed;
  z-index: 99999;
  background-color: var(--bg-color);
  padding: 20px;
  left: 50px;
  bottom: 50px;
  
}